body {
    padding: 0;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    z-index: 1001;
}

.navbar img {
    width: 150px;
    height: 100%;
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    float: left;
}

.navbar li {
    list-style: none;
    float: right;
    padding: 7px 15px;
}

.navbar li button {
    padding: 3px 15px;
    background-color: #9769b3;
    margin-right: 10px;
}

.aside1 {
    position: fixed;
    top: 70px;
    right: 25px;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-radius: 0.3rem;
    animation: asides 0.1s linear;
    transition: 0.2s ease-in-out;
    z-index: 1000;
}

@keyframes asides {
    from {
        transform: scale(0.9);
    }
}

.aside1 div {
    margin: 25px;
}
.aside1 div button {
    padding: 4px 10px;
    margin-top: 15px;
}
.aside1 div p {
    margin-top: 9px;
    margin-bottom: 1px;
}

.headbar {
    width: 100%;
    height: auto;
    background-color: #e8dcef;
    background-image: url(../image/banner.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    padding: 20px;
    padding-top: 80px;
}

.headbar div {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.headbar div input {
    width: 300px;
    margin-left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 576px) {
    .headbar div {
        margin-left: 50%;
        transform: translate(-50%);
    }
}

.headbar div button[type=submit] {
    width: 300px;
    display: block;
    padding: 6px 10px;
    margin-left: 50%;
    transform: translate(-50%);
}

.headbar div .form {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 0.3rem;
    margin-top: -15px;
    margin-left: 50%;
    transform: translate(-50%);
}

.main .form {
    margin: 20px;
}

.main .form article {
    max-width: 380px;
    background-color: #fff;
    border-radius: 0.3rem;
    margin: 15px;
    border: 0.1px solid rgba(146, 93, 177, 0.2);
    padding: 20px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #e8dcef;
    background-image: url(../image/banner.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
}

.main .form article h3 {
    font-size: 16px;
    color: #333;
}

.main .form article .tag span {
    font-size: 14px;
    color: #333;
    background-color: rgba(146, 93, 177, 0.192);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10rem;
    margin-left: 5px;
}

.main .form article b {
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: 100;
}

.main h2 {
    padding: 30px;
    padding-bottom: 0;
}

.footer {
    width: 100%;
    height: 100%;
    padding: 29px;
    background-color: #9d62c0;
    background-image: url(../image/banner.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    text-align: center;
    color: #fff;
}

main {
    min-height: 380px;
}